@charset utf8;


@font-face {
    font-family:robotothin;
    src:url('/fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family:robotoregular;
    src:url('/fonts/Roboto-Regular.ttf');
}
body{
    font-family: 'Maven pro', sans-serif !important;
    height: 100%;   
}
h1,
h2,
h3,
h4{
    
/*    font-family: robotothin !important;*/
}
footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
    font-family: robotoregular,sans-serif !important;   
}
.main-content {    
     text-align: center;   
}
.fbuttons {
 border-radius:0% !important;   
}
.fb {
    color: white;
    background: #3b5998;    
}
.lin {
    color: white;
    background: #0e76a8;    
}
.inst {
    color: white;
    background: #3f729b;
}
.tel {
    color: white;
    background: #5682A3;   
}
.infobox {
    margin-top:300px;  
}
.down {  
    width: 100px;
    height: 100px;
}
.down:hover { 
    transition: .5s ease;
    transform: translate3d(0,60px,0);
    
}
.down:not(hover) {
    transition: .5s ease;
    transform: translate3d(0,0px,0);   
}
.active{
    transition: 1s ease;
    transform: translate3d(0px,0px,0px);  
}
.deactive{
    transition: 1s ease;
    transform: translate3d(0px,-400%,0px);
    
}
.esconder{
    transition: 1s ease;
    
    display: none;
    
}
.mostrar{
    transition: 1s ease;
    opacity:1;
    transform: translate3d(0px,50px,0px);
}
.real-content{
  margin-top:-40%;
    margin-left:20px;
    
    
}
.shield{
    transition: 1s ease;
    display: inline-block;
    border-radius: 2px;
    border: #dddddd 1px solid;
    height: auto;
}
.shield img{
    max-width: 100px;
    
}
.shield-content{
    padding: 10px;
}













