@charset utf8;


@font-face {
    font-family:robotothin;
    src:url('/fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family:robotoregular;
    src:url('/fonts/Roboto-Regular.ttf');
}
body{
    font-family: 'Maven pro', sans-serif !important;
    height: 100%;   
}
h1,
h2,
h3,
h4{
    
/*    font-family: robotothin !important;*/
}
footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
    font-family: robotoregular,sans-serif !important;   
}
.main-content {    
     text-align: center;
   
    
    
}
.fbuttons {
 border-radius:0% !important;
    
}
.fb {
    color: white;
    background: #3b5998;
    
}
.lin {
    color: white;
    background: #0e76a8;
    
}
.inst {
    color: white;
    background: #3f729b;
    
}
.tel {
    color: white;
    background: #5682A3;
    
}
.infobox {
    margin-top:200px;
    
}
.carret {
    
    width: 60px;
    height: 400px;
    
}
.carret:hover {
  transition: .5s ease;  
  background: #eeeeee;  
}
.down:hover {
    
    transition: .5s ease;
    transform: translate3d(0,60px,0);
    
}
.down:not(hover) {
    transition: .5s ease;
    transform: translate3d(0,0px,0);
    
}
