body {

    height: 2000px;
    width: 100%;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.fixed {
    position: fixed !important;
    top: 0px !important;
}

#tile-1 {
    padding: 20px;
    width: 60%;
    background: #ff0000;
    top: 500px;
    position: relative;
}

#tile-2 {
    padding: 20px;
    width: 40%;
    margin-left: 60%;
    background: #00ff00;
    top: 1000px;
    position: relative;
}
